
/* Styles the container that everything sits in.
*/
.containerLogin {
    display: flex;
    flex-direction:column;
    margin: auto;
    margin-top: 75px;
    background: white;
    padding-bottom:30px;
    max-width: 600px;
    border-radius: 8px;
}

/* To style the header for the Login and Signup pages
*/
.headerLogin {
    display:flex;
    flex-direction: column;
    align-items:center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

/* This edits the header of 'Login' or 'Signup'
*/
.textLogin {
    color: #163bc1;
    font-size: 48px;
    font-weight: 600;
}

/*This edits the underline that is beneath 'Login' or 'Signup'
*/
.underlineLogin{
    width: 125px;
    height: 6px;
    background: #163bc1;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction:column;
    gap: 25px;
}

/* controls the container around the input.
*/
.input {
    display:flex;
    align-items: center;
    margin:auto;
    width: 480px;
    height: 80px;
    background: white;
    border: 2px solid #eaeaea;
    border-radius: 9px;
}

/* This controls the placeholders for the inputs
*/
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
    padding-left: 15px
}

/* controls the container of the forgot-password
*/
.forgot-password {
    padding-left: 62px;
    margin-top: 20px;
    color: #797979;
    font-size: 15px;
}

/* edits the 'click here' part of the forgot password
*/
.forgot-password span {
    color: #163bc1;
    cursor: pointer;
}

/* The container for the buttons Login and Signup 
to switch pages
*/
.submit-container {
    display:flex;
    gap: 30px;
    margin: 40px auto;
}

/* The styling for the buttons 
*/
.submit {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 220px; 
    height: 59px;
    color: #fff;
    background: #163bc1;
    border-radius: 8px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

/*For when the buttons are not selected.
*/
.gray {
    background: #eaeaea;
    color: #676767;
}

/* Styling for the 'Remember Me' checkbox
*/ 
.rememberMe {
    padding-left: 60px;
    padding-top: 15px;
    color:#797979;
    font-size: 16px;
}
